@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Spline Sans', sans-serif;
}

body {
  @apply bg-background-light dark:bg-background-dark text-slate-900 dark:text-white;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
